.help-window {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  overflow: auto;

  .help-body {
    background-color: var(--body-bg);
    padding: 30px;
    min-height: 100vh;
    color: var(--body-font-color);
  }

  .close {
    color: var(--body-font-color);
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
      color: var(--body-font-active-color);
      text-decoration: none;
      cursor: pointer;
    }
  }
  hr {
    border: var(--border);
  }
}
