:root,
.main-body.light-theme {
  --body-bg: rgb(231, 231, 231);
  --body-bg-color: rgb(245, 245, 245);
  --body-font-color: rgb(44, 11, 11);
  --body-font-active-color: rgb(99, 64, 64);
  --border: 1px solid rgb(44, 11, 11);
  --cell-border: 4px solid rgb(83, 47, 47);
  --cell-border-filled: 4px solid rgb(231, 231, 231);
  --cell-bg: rgb(44, 11, 11);
  --cell-bg-right-place: rgb(52, 196, 64);
  --cell-font-color-right-place: rgb(44, 11, 11);
  --cell-bg-wrong-place: rgb(235, 224, 72);
  --cell-font-color-wrong-place: rgb(44, 11, 11);
  --cell-bg-not-in-word: rgb(44, 22, 22);
  --cell-font-color-not-in-word: rgb(231, 231, 231);
  --cell-font-color: rgb(231, 231, 231);
  --message-bg: rgb(211, 238, 162);
  --message-text-color: rgb(44, 11, 11);
  --keyboard-bg: rgb(44, 11, 11);
  --keyboard-key-bg: rgb(99, 64, 64);
  --keyboard-font-color: rgb(231, 231, 231);
  --keyboard-key-shadow: 0px 0px 3px rgb(231, 231, 231);
  --toggle-not-active-bg: rgb(177, 173, 173);
  --toggle-active-bg: rgb(67, 221, 101);
}