.modal-window {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  .modal-body {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 13px;
    box-shadow: 0 0 40px 7px rgba(0, 0, 0, 0.3);
    width: 40%;
  }

  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
