.modal-window {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  .modal-body {
    background-color:  var(--body-bg-color);
    margin: 5% auto;
    padding: 20px;
    border-radius: 13px;
    box-shadow: 0 0 40px 7px rgba(0, 0, 0, 0.3);
    width: fit-content;
    max-width: 90vw;
  }

  .close {
    color: var(--body-font-color);
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
      color: var(--body-font-active-color);
      text-decoration: none;
      cursor: pointer;
    }
  }
}
