.rating-window {

  .total-statistics-list {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

    .statistic-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 13px;

      .title {
        text-align: center;
        margin: 10px 0;
      }
    }
  }

  .by-day-statistics-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


    .statistic-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 150px;
      margin: 20px 27px 70px 27px;

      &>.title {
        text-align: center;
        margin: 10px 0;
      }
      
      .value {
        .result-data {
          display: flex;
          flex-direction: column;

          .result-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            

            .title {
              margin: 5px 0;
              margin-right: 6px;
            }
          }
        }
      }
    }
  }

  .sub-title {
    text-align: center;
  }

  hr {
    border: var(--border);
  }
}