.settings-window {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  overflow: auto;
  background: var(--body-bg);

  .settings-body {
    background-color: var(--body-bg-color);
    padding: 30px;
    min-height: 100vh;
    width: 600px;
    margin: 0 auto;

    .close {
      color: var(--body-font-color);
      font-size: 28px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: var(--body-font-active-color);
        text-decoration: none;
        cursor: pointer;
      }
    }

    .settings {
      &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
