::selection {
  background-color: none;
  color: inherit;
}

.keyboard {
  width: 700px;
  height: 180px;
  background-color: var(--keyboard-bg);
  margin: 0px auto;
  border-radius: 9px;
  padding: 30px;
  color: var(--keyboard-font-color);
}
.keyboard .keys-row {
  display: flex;
}
.keyboard .keys-row .key {
  width: 40px;
  height: 40px;
  display: block;
  background-color: var(--keyboard-key-bg);
  text-align: left;
  padding-left: 8px;
  line-height: 29px;
  border-radius: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  cursor: pointer;
  transition: box-shadow 0.7s ease;
}
.keyboard .keys-row .key:hover {
  box-shadow: var(--keyboard-key-shadow);
  z-index: 1000;
}
.keyboard .keys-row .key.backspace {
  width: 84px;
  font-size: 12px;
}
.keyboard .keys-row .key.enter {
  width: 92px;
  line-height: 40px;
  text-align: center;
  padding-left: 0;
}

.modal-window {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-window .modal-body {
  background-color: var(--body-bg-color);
  margin: 5% auto;
  padding: 20px;
  border-radius: 13px;
  box-shadow: 0 0 40px 7px rgba(0, 0, 0, 0.3);
  width: fit-content;
  max-width: 90vw;
}
.modal-window .close {
  color: var(--body-font-color);
  font-size: 28px;
  font-weight: bold;
}
.modal-window .close:hover, .modal-window .close:focus {
  color: var(--body-font-active-color);
  text-decoration: none;
  cursor: pointer;
}

.message-box {
  display: none;
  justify-content: flex-start;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 98px;
  width: 100vw;
  padding-left: 80px;
}
.message-box .message-content {
  background-color: var(--message-bg);
  padding: 10px;
  border: var(--border);
  width: fit-content;
  border-radius: 7px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
}
.message-box .message-content .message-text {
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--message-text-color);
}

.help-window {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  overflow: auto;
}
.help-window .help-body {
  background-color: var(--body-bg);
  padding: 30px;
  min-height: 100vh;
  color: var(--body-font-color);
}
.help-window .close {
  color: var(--body-font-color);
  font-size: 28px;
  font-weight: bold;
}
.help-window .close:hover, .help-window .close:focus {
  color: var(--body-font-active-color);
  text-decoration: none;
  cursor: pointer;
}
.help-window hr {
  border: var(--border);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 19px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--toggle-not-active-bg);
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.1);
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 2px;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--toggle-active-bg);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--toggle-active-bg);
}

input:checked + .slider:before {
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.settings-window {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  overflow: auto;
  background: var(--body-bg);
}
.settings-window .settings-body {
  background-color: var(--body-bg-color);
  padding: 30px;
  min-height: 100vh;
  width: 600px;
  margin: 0 auto;
}
.settings-window .settings-body .close {
  color: var(--body-font-color);
  font-size: 28px;
  font-weight: bold;
}
.settings-window .settings-body .close:hover, .settings-window .settings-body .close:focus {
  color: var(--body-font-active-color);
  text-decoration: none;
  cursor: pointer;
}
.settings-window .settings-body .settings-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.settings-window .settings-body .settings-item input {
  border: none;
  height: 20px;
  font-weight: bold;
  padding-left: 7px;
  background-color: var(--toggle-not-active-bg);
}
.settings-window .settings-body .settings-item input:hover, .settings-window .settings-body .settings-item input:active, .settings-window .settings-body .settings-item input:focus {
  outline: none;
}
.settings-window .settings-body .settings-item input:active, .settings-window .settings-body .settings-item input:focus {
  background-color: var(--toggle-active-bg);
}

:root,
.main-body.light-theme {
  --body-bg: rgb(231, 231, 231);
  --body-bg-color: rgb(245, 245, 245);
  --body-font-color: rgb(44, 11, 11);
  --body-font-active-color: rgb(99, 64, 64);
  --border: 1px solid rgb(44, 11, 11);
  --cell-border: 4px solid rgb(83, 47, 47);
  --cell-border-filled: 4px solid rgb(231, 231, 231);
  --cell-bg: rgb(44, 11, 11);
  --cell-bg-right-place: rgb(52, 196, 64);
  --cell-font-color-right-place: rgb(44, 11, 11);
  --cell-bg-wrong-place: rgb(235, 224, 72);
  --cell-font-color-wrong-place: rgb(44, 11, 11);
  --cell-bg-not-in-word: rgb(44, 22, 22);
  --cell-font-color-not-in-word: rgb(231, 231, 231);
  --cell-font-color: rgb(231, 231, 231);
  --message-bg: rgb(211, 238, 162);
  --message-text-color: rgb(44, 11, 11);
  --keyboard-bg: rgb(44, 11, 11);
  --keyboard-key-bg: rgb(99, 64, 64);
  --keyboard-font-color: rgb(231, 231, 231);
  --keyboard-key-shadow: 0px 0px 3px rgb(231, 231, 231);
  --toggle-not-active-bg: rgb(177, 173, 173);
  --toggle-active-bg: rgb(67, 221, 101);
}

.main-body.dark-theme {
  --body-bg: rgb(10, 10, 10);
  --body-bg-color: rgb(29, 29, 29);
  --body-font-color: rgb(100, 247, 125);
  --body-font-active-color: rgb(52, 139, 34);
  --border: 1px solid rgb(240, 230, 94);
  --cell-border: 4px solid rgb(230, 163, 100);
  --cell-border-filled: 4px solid rgb(171, 175, 118);
  --cell-bg: rgb(231, 228, 228);
  --cell-bg-right-place: rgb(52, 196, 64);
  --cell-font-color-right-place: rgb(14, 17, 14);
  --cell-bg-wrong-place: rgb(235, 224, 72);
  --cell-font-color-wrong-place: rgb(17, 17, 12);
  --cell-bg-not-in-word: rgb(209, 209, 209);
  --cell-font-color-not-in-word: rgb(0, 0, 0);
  --cell-font-color: rgb(15, 15, 15);
  --message-bg: #ddb5b5;
  --message-text-color: rgb(36, 8, 8);
  --keyboard-bg: rgb(100, 247, 125);
  --keyboard-key-bg: rgb(52, 139, 34);
  --keyboard-font-color: rgb(255, 255, 255);
  --keyboard-key-shadow: 0px 0px 10px #14b524;
  --toggle-not-active-bg: rgb(177, 173, 173);
  --toggle-active-bg: rgb(67, 221, 101);
}

.rating-window .total-statistics-list {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.rating-window .total-statistics-list .statistic-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 13px;
}
.rating-window .total-statistics-list .statistic-item .title {
  text-align: center;
  margin: 10px 0;
}
.rating-window .by-day-statistics-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.rating-window .by-day-statistics-list .statistic-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  margin: 20px 27px 70px 27px;
}
.rating-window .by-day-statistics-list .statistic-item > .title {
  text-align: center;
  margin: 10px 0;
}
.rating-window .by-day-statistics-list .statistic-item .value .result-data {
  display: flex;
  flex-direction: column;
}
.rating-window .by-day-statistics-list .statistic-item .value .result-data .result-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rating-window .by-day-statistics-list .statistic-item .value .result-data .result-item .title {
  margin: 5px 0;
  margin-right: 6px;
}
.rating-window .sub-title {
  text-align: center;
}
.rating-window hr {
  border: var(--border);
}

.main-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 70px 1fr 200px;
  grid-template-areas: "header header header" ". playground ." "keyboard keyboard keyboard";
  background: var(--body-bg);
  color: var(--body-font-color);
}
.main-body .header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border);
  padding: 0 35px;
}
.main-body .header .ctrl-btn {
  margin-right: 10px;
}
.main-body .header .ctrl-btn * {
  font-size: 1.4rem;
  color: var(--body-font-color);
}
.main-body .playground {
  grid-area: playground;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-body .matrix-row {
  display: flex;
  margin-bottom: 4px;
}
.main-body .matrix-row .letter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  border: var(--cell-border);
  background: var(--cell-bg);
  color: var(--cell-font-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.9rem;
  margin-right: 4px;
}
.main-body .matrix-row .letter.filled {
  border: var(--cell-border-filled);
}
.main-body .matrix-row .letter.right-place {
  background-color: var(--cell-bg-right-place);
  color: var(--cell-font-color-right-place);
}
.main-body .matrix-row .letter.wrong-place {
  background-color: var(--cell-bg-wrong-place);
  color: var(--cell-font-color-wrong-place);
}
.main-body .matrix-row .letter.not-in-word {
  background-color: var(--cell-bg-not-in-word);
  color: var(--cell-font-color-not-in-word);
}
.main-body .keyboard {
  grid-area: keyboard;
}