@import "../css/normalize";
@import "./pages/mainPage";

* {
  font-size: 25px;
  font-family: 'IBM Plex Mono', monospace; 
  box-sizing: border-box;
  
}

ul {
  padding: 0;
  margin: 0;
}

ul > li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Russo One', sans-serif;
  user-select: none;
  color: var(--body-font-color);
}

h1 {
  font-size: 2.1rem;
  margin: 20px 0;
}

h2 {
  font-size: 1.7rem;
  margin: 15px 0;
}

h3 {
  font-size: 1.4rem;
  margin: 10px 0;
}

h4 {
  font-size: 1.3rem;
  margin: 8px 0;
}

h5 {
  font-size: .8rem;
  margin: 5px 0;
}

p {
  line-height: 1.7;
  font-family: 'Amatic SC', cursive;
  user-select: none;
  margin: 7px 0;
}

body {
  min-height: 100vh;
}

button, 
button:active, 
button:hover {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
